.login-page {
 padding-left: 350px;
}

.grid-container {
 display: grid;
 align-content: center;
 grid-template-columns: 100px auto auto;
 background-color: transparent;
 padding: 1px;
}
.grid-container > div {
 background-color: #AAAAAA;
 text-align: center;
 font-size: 12px;
}
.selectt:hover{
 background-color: #F0F0EE;
}
* { box-sizing:border-box; }
/* form starting stylings ------------------------------- */
.group 			  {
 position:relative;
 margin-bottom:45px;
}
input 				{
 font-size:18px;
 padding:10px 10px 10px 5px;
 display:block;
width: 220px;
 border:none;
 border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
 color:#999;
 font-size:18px;
 font-weight:normal;
 position:absolute;
 pointer-events:none;
 left:5px;
 top:10px;
 transition:0.2s ease all;
 -moz-transition:0.2s ease all;
 -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
 top:-20px;
 font-size:14px;
 color:#9d9d9d;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
 content:'';
 height:2px;
 width:0;
 bottom:1px;
 position:absolute;
 background:#AE2437;
 transition:0.2s ease all;
 -moz-transition:0.2s ease all;
 -webkit-transition:0.2s ease all;
}
.bar:before {
 left:50%;
}
.bar:after {
 right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
 width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
 position:absolute;
 height:60%;
 width:100px;
 top:25%;
 left:0;
 pointer-events:none;
 opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
 -webkit-animation:inputHighlighter 0.3s ease;
 -moz-animation:inputHighlighter 0.3s ease;
 animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
 from { background: transparent; }
 to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
 from { background:transparent; }
 to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
 from { background: transparent; }
 to 	{ width:0; background:transparent; }
}