<div class="  col-md-8" style="padding-left: 450px" >
<div class="card" style="padding-left: 7px" >
    <div class="col-lg-16">

      <div align="center">
        <img src="assets/img/mf.png" style="width:130px;"/>
        <b><h2 >Mega<span style="color: red">Forum</span></h2></b>
      </div>
      <br>
      <form role="form">

        <div class="form-content" align="center">
          <div class="group" >
            <input class="form-control" type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label style="padding-left: 153px">Username</label>
          </div>
          <div class="group">
            <input class="form-control" type="password" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label style="padding-left: 153px">Password</label>
          </div>
        </div>
        <br>
        <div align="center">
          <button class="btn btn-danger" style="font-size: large" (click)="login()"> Log in </button>
          &nbsp;
        </div>

      </form>
    </div>
  </div>


</div>